body {
  margin: 0;
}

#root {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(187deg, #28333f, #0d54cf);
  padding: 20px 15px;
  color: white;
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

header {
  padding-top: 30px;
  padding-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 5px;
}

h1 {
  margin: 20px 0;
}

.about,
.cart,
.product-details,
.home,
.not-found,
.category {
  border: 2px solid #4c5788;
  max-width: 1280px;
  padding: 10px;
}

a {
  font-size: 24px;
  color: rgb(151, 181, 182);
  font-weight: 600;
}

.active {
  color: rgb(206, 228, 155);
}

footer > hr {
  margin-top: 300px;
}

.categories {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.category-item {
  border-radius: 16px;
  background: #3b70d3;
  border: 2px solid #4c5788;
  width: 200px;
  /* display: flex; */
  /* justify-content: center; */
  padding: 2px 4px;
}

.category-item:hover {
  transform: scale(1.02);
  background: #183e85;
}

.category-item > a {
  color: #ffffff;
}

.product-details {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-details > hr {
  width: 100%;
}

.product-item > img {
  width: 100%;
  border-radius: 16px;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login > button {
  background: #dd3535;
  border: 2px solid #4c5788;
  border-radius: 16px;
  color: floralwhite;
  font-size: 20px;
  cursor: pointer;
  padding: 4px 16px;
}

.login > button:hover {
  opacity: 0.8;
}

.login > button:active {
  transform: scale(1.02);
}
